.parent {
  background-color: #ffffff;
  border-bottom: 1px solid #d8d8d8;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.start {
  display: flex;
  gap: 15px;
}

.dropdownButton {
  width: 120px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.buttonBlack {
  color: #ffffff;
  background-color: #000;
  transition: .3s;
}

.buttonBlack:active {
  transform: scale(0.9);
}

.dropdownMenu {
  list-style: none;
  position: absolute;
  background-color: #f5f7fa;
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 5px 0;
}

.dropdownMenu li {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 16px;
}

.menu {
  position: relative;
  display: flex;
  gap: 40px;
  padding: 10px 0;
}

.menu_item {
  position: relative;
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  transition: color 0.3s;
  text-decoration: none;
}

.menu_item.active {
  background: linear-gradient(to right, #D4151c, #d35400);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu_item:hover {
  background: linear-gradient(to right, #D4151c, #d35400);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.line {
  position: absolute;
  bottom: 0;
  height: 6px;
  border-radius: 50px;
  background: linear-gradient(to right, #D4151c, #d35400);
  transition: 0.3s ease;
}

.burgerMenu {
  display: none;
}

.langs {
  display: none;
}

@media (max-width: 768px) {

  .logotip {
    margin-left: 20px;
  }

  .content {
    display: grid;
    grid-template-columns: 0fr 1fr 0fr;
  }

  .menu {
    flex-direction: column;
    position: fixed;
    left: -100%;
    gap: 20px;
    right: 0;
    top: 0;
    bottom: 0;
    width: 70%;
    height: 100%;
    background-color: #fff;
    padding-top: 10px;
    padding-left: 20px;
    transition: left 1s ease;
  }

  .hedr {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    padding-right: 30px;
  }

  .select {
    display: none;
  }

  .line {
    display: none;
  }

  .langs {
    display: block;
  }

  .menu_item {
    font-size: 18px;
    font-weight: 500;
  }

  .burgerMenu {
    display: block;

  }

  .burger_menu {
    color: #9a9a9a;
  }

  .active {
    left: 0;
  }
}

@media (max-width: 480px) {
  .content {}

  .menu {}

  .menu_item {
    font-size: 14px;

  }

  .dropdownButton {
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 14px;
  }

  .dropdownMenu {
    width: 100px;
  }
}